:root {
  --primary: #0771a6;
  --background: #d6ffdb;
  --button-light: #62aa6a;
  --button: #62aa6a;
  --button-dark: #62aa6a;
  --touch: #0771a6;
  --light: #e2e2e2;
  --dark: #303030;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: var(--button-dark);
  color: var(--dark);
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: var(--background);
  /* border-radius: 10px; */
}

/* Scroll thumb */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  /* border-radius: 10px; */
}

/* Thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--button-dark);
}

.center {
  text-align: center;
}

.button {
  color: var(--button);
}

.w-full,
.w-100 {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* summary, */
h1,
h2,
h3,
b {
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 600;
  line-height: 1.2;
}

h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

td,
i,
p,
li,
label,
input,
textarea,
select,
option {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  font-size: 16px;
  list-style: none;
}

option:checked {
  background: var(--background);
}

details {
  border: 3px solid var(--primary);
  border-radius: 10px;
  padding: 20px;
  transition: all 0.3 ease;
}

details:hover {
  background-color: var(--backgrounds);
}

details[open] {
  background-color: var(--background);
}

summary {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  list-style: none;
}

summary::marker {
  content: "";
}

summary::before {
  content: "▸";
  margin-right: 8px;
  transition: 0.2s;
}

details[open] summary::before {
  content: "▾";
}

i {
  color: var(--button);
  font-size: 20px;
  transition: all 0.3s ease;
}

i:hover {
  color: var(--button-dark);
  text-shadow: 0px 0px 15px var(--button-light);
}

button i {
  color: inherit;
  font-size: 20px;
}

p {
  font-size: 16px;
}

span {
  color: var(--touch);
}

input,
textarea,
select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--button);
  background: none;
  height: 50px;
}

input[type="range"],
input[type="checkbox"] {
  accent-color: var(--button-dark);
  height: auto;
}

input:focus,
textarea:focus,
select:focus {
  outline: 1px solid var(--button);
}

input[type="range"]:focus,
input[type="checkbox"]:focus {
  outline: none;
}

body {
  font-size: 16px;
  color: var(--dark);
  /* background: radial-gradient(
    circle at 27% 25%,
    rgba(255, 230, 0, 0.3) 200px 200px,
    transparent 400px
  ); */
}

table {
  border: 2px solid var(--button);
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 2px solid var(--button);
  padding: 16px;
  width: 50%;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-shadow: 0px 0px 15px var(--button-light);
}

img {
  width: 100%;
  height: 100%;
}

hr {
  border: 1px solid var(--button-dark);
}

form {
  border: 3px solid var(--button);
  border-radius: 20px;
  padding: 20px;
  width: 100%;
}

.form-error {
  color: red;
}

.form-success {
  color: var(--button-dark);
}

.small {
  font-size: 13px;
  /* line-height: 2.5; */
}

.form-message,
.error-message {
  display: none;
}

.error {
  display: block;
  color: red;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  font-size: 16px;
}

.success {
  display: block;
  color: green;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  font-size: 16px;
}

.flex {
  display: flex;
  gap: 20px;
}

.flex-center {
  display: flex;
  align-items: center;
  gap: 20px;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.flex-col-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 50px 20px;
  max-width: 1200px;
}

.btn {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  /* background: linear-gradient(
    to right,
    var(--button-dark) 0%,
    var(--button-dark) 30%,
    var(--button) 100%
  ); */
  background-color: var(--button);
  color: white;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  transition: all 0.3s ease;
  border: 2px solid var(--button);
}

.btn:hover {
  box-shadow: 0px 0px 15px var(--button-light);
  background: none;
  color: var(--dark);
  border: 2px solid var(--button);
}

.btn-hollow {
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  background: white;
  color: var(--button);
  border: 3px solid var(--button);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  transition: all 0.3s ease;
}

.btn-hollow:hover {
  box-shadow: 0px 0px 15px var(--button-light);
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.hamburger-open,
.hamburger-close {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  margin: 13px;
  color: var(--button);
  font-size: 40px;
  transition: transform 0.3s ease;
}

/* initial hidden state */
.reveal {
  opacity: 0;
  transform: translateY(-60px);
  transition: all 0.6s ease;
}

.reveal-anti {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.6s ease;
}

/* when visible */
.reveal.active,
.reveal-anti.active {
  opacity: 1;
  transform: translateY(0);
}

/* Navbar  */
.logo-mobile {
  display: none;
}

.nav {
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 999;
  /* background-color: none;
  box-shadow: none; */
  transition: all 0.3s ease;
}

.nav-left {
  width: 135px;
}

.nav.active {
  background-color: white;
  box-shadow: 0px 0px 10px var(--primary);
  height: 70px;
}

.nav-inner {
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  transition: transform 0.9s ease;
}

.nav-center ul li {
  list-style: none;
  margin-right: 15px;
}

/* Footer  */
.footer {
  background-color: var(--primary);
  color: white;
}

.footer-left-icons i {
  color: white;
}

.footer-right {
  text-align: end;
}

/* Mobile and Tablets (1023px) */
@media (max-width: 900px) {
  i {
    font-size: 25px;
  }
  body {
    font-size: 13px;
  }
  .container {
    padding: 20px 10px;
  }
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: repeat(1, 1fr);
  }

  .flex,
  .flex-center,
  .flex-center-center {
    flex-direction: column;
  }

  .btn,
  .btn-hollow {
    width: 100%;
  }

  h1 {
    font-size: 23px;
  }

  .hamburger-open {
    display: block;
  }

  summary {
    font-size: 15px;
  }

  /* Navbar  */
  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: block;
    width: 40px;
    height: 40px;
    margin-top: 10px;
  }

  .nav {
    z-index: 999;
  }
  .nav-inner {
    padding: 5px 10px;
    height: 60px;
    overflow: hidden;
    align-items: start;
    justify-content: start;
  }

  .nav-inner .nav-center {
    text-align: center;
    margin: 0 auto;
  }

  .nav-inner .nav-center li {
    margin-right: 0;
  }

  .nav-center {
    margin: 10px 0;
    font-size: 20px;
  }

  .nav-right {
    align-items: start;
    width: 100%;
    font-size: 20px;
  }

  .nav-left {
    align-items: start;
  }

  .nav-left i {
    font-size: 35px;
    margin-top: 28px;
  }

  .nav-left h2 {
    display: none;
  }

  .extra {
    display: none;
  }

  .timeline::after {
    width: 0px;
  }

  .timeline .left::before,
  .timeline .right::before {
    display: none;
  }

  input[type="checkbox"] {
    width: auto !important;
  }

  input,
  textarea,
  select,
  option {
    height: 50px;
    font-size: 15px;
  }

  .quick-eligiblity,
  .call-btn,
  .whatsapp-btn {
    display: block;
  }

  /* Footer  */
  .footer-right {
    text-align: start;
    flex-direction: row;
  }
}
